*.o
*.so
*.a
Makefile
*/Makefile
*/*/Makefile
stamp-h*
*~
*#
config.h
config.log
config.status
readline/config.h
readline/config.log
readline/config.status
src/autobk/autobk
src/cmdline/ifeffit
src/diffkk/diffkk
src/feff6/feff6
src/feffit/feffit
src/test/ifftest1
src/test/ifftest2
src/lib/Config.mak
src/lib/Makefile.PL
src/lib/TclSetup.in
src/lib/ifeffit_config.py


